<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="author" content="llh">
    <meta name="publisher" content="llh">
    <meta name="description" content="xianxia">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Xianxia House后台管理系统</title>
</head>
<body>
<div class="container">
    <div id="admin">
        <router-view></router-view>
    </div>
</div>
</body>
</html>